// RULES ARRANGED BY FILE PATH
// .
// ├── dist
// │   ├── bundle.js
// │   ├── bundle.js.LICENSE.txt
// │   └── index.html
// ├── package-lock.json
// ├── package.json
// ├── src
// │   ├── App.js
// │   ├── components
// │   │   ├── Measures.jsx
// │   │   └── MeasuresDisplay.jsx
// │   ├── containers
// │   │   ├── GuideContainer.jsx
// │   │   ├── HeaderContainer.jsx
// │   │   ├── MainContainer.jsx
// │   │   ├── ToolContainer.jsx
// │   │   ├── UserParametersContainer.jsx
// │   │   └── UserSmpteContainer.jsx
// │   ├── index.html
// │   ├── index.js
// │   ├── reducers
// │   │   ├── index.js
// │   │   └── markersReducer.js
// │   ├── store.js
// │   ├── styles.scss
// │   └── utils
// │       └── calculator.js
// └── webpack.config.js

// --- --- --- --- --- --- --- --- ---
// --- --- --- --- ALL --- --- --- ---
// --- --- --- --- --- --- --- --- ---

* {
  color: #323743;

  font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  input[type="text"]::placeholder {
    color: #CCCCCC;
  }

  select::after {
    color: red; /* set default text color for pseudo-element */
  }
}

// --- --- --- --- --- --- --- --- ---
// --- --- --- COMPONENTS  --- --- ---
// --- --- --- MEASURES    --- --- ---
// --- --- --- --- --- --- --- --- ---

.measuresBox {
  // background-color: lightgreen;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  div {
    border: 1px solid black;
  }
}

// --- --- --- --- --- --- --- --- ---
// --- --- --- --- --- --- --- --- ---
// --- --- --- --- --- --- --- --- ---

.measuresDisplay {
  // make the first div contained in the class the color of red
  // target the first div in .measuresDisplay whose class is .measuresBox
  .measuresBox:first-child {
    background-color: lightgreen;
  }
  // target the second div
  .measuresBox:nth-child(2) {
    background-color: #B6F4B6;
  }
  // target the third div
  .measuresBox:nth-child(3) {
    background-color: #DCFADC;
  }
}

// --- --- --- --- --- --- --- --- ---
// --- --- --- --- --- --- --- --- ---
// --- --- --- --- --- --- --- --- ---

.toolContainer {
  height: 60vh;
  background-color: #d0d0d0;
}

.userParameters {
  display: inline-block;
  justify-content: space-between;

  h2 {
    display: inline-block;
  }

  .userParametersDiv {
    display: inline-block;
    flex-direction: row;
    align-items: baseline;
  }

  .userParametersDiv * {
    margin-right: 5px;
  }

  .userParametersDivLast {
    margin-right: 100px;
  }

  input {
    width: 50px;
    text-align: center;
  }
}

.UserSmpteContainer {
  // arrange all divs in a grid of 6 columns by 2 rows
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.emptyDiv {
  background-color: coral;
  height: 20px;
}
